body {
  margin: 0;
  padding: 0;
  color: white;
}

.dashboard {
  width: 100%;
  display: flex;
  height: 835px;
  align-items: center;
  justify-content: center;
}

.dashboard__card-cnt {
  width: 80%;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}

.card-cnt__card {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.card-main {
  grid-row: 1 / 3;
  height: 500px;
}

.card__profile {
  background: #5a3be6;
  width: 100%;
  height: 65%;
  border-radius: 15px;
}

.card__profile-img {
  margin: 15%;
  width: 40%;
  filter: drop-shadow(2px 2px 0 white) 
  drop-shadow(-2px -2px 0 white) 
  drop-shadow(2px -2px 0 white) 
  drop-shadow(-2px 2px 0 white);
}

.card__content{
  background: #1d1e4a;
  border-radius: 20px;
  position: relative;
}

.card__background{
  background: #ff8d69;
  width: 100%;
}