body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

.dashboard {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.dashboard__card-cnt {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50% 50%;
}

.card-cnt__card {
  display: grid;
  grid-template-rows: 20% 80%;
}

.card__background{
  display: grid;
  justify-content: end;
  grid-row: 1 / 3;
  grid-column: 1;
  border-radius: 20px;
  background: #ff8d69;
}

.card__img{
  width: 80%;
}

.card__content{
  padding: 5% 15%;
  grid-row: 2 / 3;
  grid-column: 1;
  background: #1d1e4a;
  border-radius: 20px;
}

.card-main {
  grid-row: 1 / 3;
  grid-template-rows: 70% 30%;
}

.card__profile {
  grid-row: 1/1;
  grid-column: 1;
  background: #5a3be6;
  border-radius: 20px;
}

.card__profile__info{
  z-index: -1;
  display: grid;
  align-items: flex-end;
  grid-row: 1/3;
}

.card__profile-img {
  margin: 15% 0;
  width: 40%;
  filter: drop-shadow(2px 2px 0 white) 
  drop-shadow(-2px -2px 0 white) 
  drop-shadow(2px -2px 0 white) 
  drop-shadow(-2px 2px 0 white);
}

.profile__report{
  color: #9b8cfb;}

.profile__report-name{
  font-size: 2rem;
  color: white;
}